@charset "UTF-8";

:root{
    --base: #0e0d11;
    --cor1: #2CF6B3;
    --cor2: #76F7CC;
    --cor3: #23C28D;
    --cor4: #157555;
}

*{
    font: normal normal 1em monospace, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
}
body{
    background-color: var(--base);
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor4);
    height: 8vh;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 50px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--cor4);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}
.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px );
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px );
}