@charset "UTF-8";

:root{
    --base: #0e0d11;
    --cor1: #2CF6B3;
    --cor2: #76F7CC;
    --cor3: #23C28D;
    --cor4: #157555;
}

*{
    font: normal normal 1em monospace, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: var(--base);
    color: #fff;
}
header{
    display: flex;
    background-color: var(--cor4);
    font-size: 1.4em;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--cor3);
    box-shadow: 0px 3px 5px #0000007a;
    padding: 20px;
}
main{
    margin: auto;
}
div > h2{
    font-size: 1.2em;
}
.item{
    display: flex;
    width: 80vw;
    height: 26vh;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor3);
    border-radius: 15px;
    margin: 30px auto;
}
.item h2{
    font-size: 1.3em;
}
div{
    border-radius: 4px;
}
#marie{
    background: url(../images/fisica.jpg) center no-repeat;
    background-size: cover;
}
#agatha{
    background: url(../images/livros.jpg) center no-repeat;
    background-size: cover;
}
#valentina{
    background: url(../images/estaçao.jpg) center no-repeat;
    background-size: cover;
}
.blur{
    width: auto;
    background-color: #0f0f0f94;
    border: 0px;
    padding: 20px;
    backdrop-filter: blur(2px);
}
.persona{
    text-decoration: none;
    color: #fff;
}
.item:hover{
    color: var(--cor1);
    transition: 0.3s;
}