@charset "UTF-8";

@font-face {
    font-family: 'Ablation';
    src: url('../font/Ablation.ttf'), format('truetype');
    font-weight: normal;
}
:root {
    --color1: #05000e;
    --color2: #E3DBDB;
    --color3: #ED1C24;
    --color4: #FFC001;
}
* {
    font-family: monospace, arial, helvetica,sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    color: #fff;
}
html {
    scrollbar-width: none;
}
body {
    background: #0a001d url('../image/art.jpg') center no-repeat fixed ;
    background-size: cover;
    backdrop-filter: blur(5px);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #05000ee3;
    width: 100vw;
    height: 9vh;
    z-index: 999;
}
.logo {
    display: flex;
    place-items: center;
    cursor: pointer;
    transition: .3s;
}
a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
    letter-spacing: 3px;
}
.link, .cim {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0px 2px;
}
.link::before, .cim::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 0px;
    height: 3px;
    background: var(--color4);
    transition: width 0.3s;
}
.link::after, .cim::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 3px;
    background: var(--color4);
    transition: width 0.3s;
}
.link:hover::after, .link:hover::before, .cim:hover::after, .cim:hover::before {
    width: 100%;
}
.logo:hover {
    opacity: 0.7;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;
    height: 100vh;
}
/* seções */
.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 900px;
    min-height: 500px;
    padding: 50px;
}
.present {
    padding-right: 300px;
}
.present h1 {
    font-size: 2.8em;
    text-shadow: 2px 2px 3px #00000071;
}
.present p {
    font-size: 1.2em;
    text-shadow: 2px 2px 3px #00000071;
}
::selection{
    background: var(--color2);
    color: var(--color1);
}
.down {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #05000eb4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto;
    transition: .1s;
}
.down:hover {
    transform: scale(1.1);
}
.seta {
    background: #fff;
    width: 1px;
    height: 20px;
    margin: auto;
}
.s1 {
    transform: rotate(-45deg);
    margin-right: 6px;
}
.s2 {
    transform: rotate(45deg);
    margin-left: 6px;
}
/* botão flutuante */
.down.float {
    animation: float 1.5s linear infinite forwards;
}
@keyframes float {
    0% {
        top: 0px;
    }
    50% {
        top: -8px;
    }
    100% {
        top: 0px;
    }
}
@-moz-keyframes float {
    0% {
        top: 0px;
    }
    50% {
        top: -8px;
    }
    100% {
        top: 0px;
    }
}
@-webkit-keyframes float {
    0% {
        top: 0px;
    }
    50% {
        top: -8px;
    }
    100% {
        top: 0px;
    }
}
@-o-keyframes float {
    0% {
        top: 0px;
    }
    50% {
        top: -8px;
    }
    100% {
        top: 0px;
    }
}
/* botão para subir */
.up {
    display: flex;
    width: 100%;
    padding-left: 5vw;
}
/* ultimo botão para subir */
.last {
    justify-content: center;
    align-items: center;
}
.up a {
    text-shadow: 2px 2px 3px #000;
    color: var(--color2);
    text-decoration: underline;
}
.Projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* local dos projetos */
.item {
    background: #e3dbdbcb;
    width: 230px;
    height: 180px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
/* descrição dos projetos */
.desc {
    position: relative;
    background: #0a001d7e;
    content: 100%;
    width: 100%;
    height: 50%;
    transform: translateY(200%);
    transition: .3s;
}
.item:hover {
    transform: scale(1.1);
}
.item:hover .desc {
    transform: translateY(100%);
}
#iam {
    font-size: 1.2em;
    text-shadow: -2px -1px 2px #00000088;
    letter-spacing: 1px;
}
.skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.skills {
    background: #e3dbdbc5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 8px;
    transition: .3s;
    box-shadow: 3px 3px 5px #0000007c;
    border-radius: 15px 0px;
}
.skills p {
    color: var(--color1);
}
.skills img {
    width: 70px;
}
.skills:hover {
    border-radius: 0px 15px;
    transform: scale(1.2);
}
.thor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.prefer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #05000ee8;
    margin: 30px;
    border-radius: 10px;
}
.prefer, .thor {
    max-width: 900px;
}
.env, .brev {
    max-width: 450px;
}
#intp {
    width: auto;
}
.prefer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
input, select {
    background: none;
    border: none;
    border-bottom: 1px solid var(--color4);
    padding: 5px;
    width: 250px;
    outline: none;
    font-size: 1em;
}
#sub {
    border: 1px solid var(--color4);
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
}
select {
    background: var(--color1);
    border: 1px solid var(--color4);
    cursor: pointer;
}
textarea {
    background: var(--color1);
    border: 1px solid var(--color4);
    padding: 5px;
}